<%- include('../templates/header.ejs') %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
   <%- include('../templates/navbar.ejs') %>

    <main>
        <% if (errorMsg) { %>
            <div class="user-message user-message--error">
                 <%= errorMsg %> 
            </div>
        <% } %>
        <form class="login-form" action="/forgot" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Check email</button>
        </form>
    </main>
<%- include('../templates/footer.ejs') %>