<%- include('../templates/header.ejs') %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
    <%- include('../templates/navbar.ejs') %>

    <main>
        <% if (errorMsg) { %>
            <div class="user-message user-message--error">
                 <%= errorMsg %> 
            </div>
        <% } %>
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userID" value="<%= userID %>">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Reset</button>
        </form>
    </main>
    <%- include('../templates/footer.ejs') %>