<%- include('../templates/header.ejs');  %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/product.css">
</head>

<body>
    <%- include('../templates/navbar.ejs');  %>
    <main>
        <% if (errorMsg) { %>
            <div class="user-message user-message--error">
                 <%= errorMsg %> 
            </div>
        <% } %>
        <form class="product-form" action="/admin/<%= editing ? 'edit-product' : 'add-product' %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>" 
                type="text" name="title" id="title" value="<%= editing || hasError ? product.title : '' %>">
            </div>
            <div class="form-control">
                <label for="img">Image</label>
                <input type="file" name="img" id="img">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                type="number" step="0.01" name="price" id="price" value="<%= editing || hasError ? product.price : '' %>">
            </div>
            <div class="form-control">
                <label for="desc">Description</label>
                <textarea class="<%= validationErrors.find(e => e.param === 'desc') ? 'invalid' : '' %>"
                name="desc" id="desc" cols="30" rows="10"><%= editing || hasError ? product.desc : '' %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" name="productID" id="productID" value="<%= product._id %>">
            <% } %> 
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><%= editing ? 'Update Product' : 'Add Product' %>  </button>
        </form>
    </main>
</body>

<%- include('../templates/footer.ejs');  %>