<%- include('../templates/header.ejs');  %>
</head>

<body>
    <%- include('../templates/navbar.ejs');  %>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div class="image">
            <img src="<%= product.imgURL %>" alt="<%= product.title %>">
        </div>
        <h2>$<%= product.price %></h2>
        <p><%= product.desc %></p>
        <%- include('../templates/add-to-cart.ejs'); %> 
    </main>

<%- include('../templates/footer.ejs');  %>